#navbar {
    padding: 8px 200px;
    font-size: medium;
    margin-bottom: 20px;
}

#datas {
    display: flex;
    justify-content: center;
}

#data {
    display: flex;
    justify-content: center;
}

#data .card {
    width: 260px;
    gap: 15px;
    display: flex;
    justify-content: start;
    padding-left: 0px;
    padding-right: 0px;
}

#datas .card {
    width: 260px;
    gap: 5px;
    display: flex;
    justify-content: start;
    padding-left: 0px;
    padding-right: 0px;
}

#datas .card .card-body  {
padding-left: 10px;
padding-top: 0px;
padding-bottom: 0px;
}

#datas .card .card-body-button {
display: flex;
justify-content: center;
gap: 17px;
padding-bottom: 10px;
padding-top: 5px;
}

#datas .card .card-body-button button{
    font-size: 14px;
}


#navbar button {
    font-size: medium;
    display: flex;  
    align-items: center;
}

#footer {
    height: 50px;
    padding: 0px 200px;
    font-size: medium;
}

#datas .card ul li {
    
    font-size: small;
    padding-left: 10px;
}

#datas .card p {
    font-size: small;
} 

#datas .card h5 {
    font-size: medium;
    padding-left: 10px;
}

#datas .card img {
   border-radius: 0px;
}


.data-content h1{
    font-weight: bold ;
    display: flex;
    justify-content: center;
}

.data-content .card-body-button {
    display: flex;
justify-content: flex-start;
gap: 17px;
padding-bottom: 15px;
}

.data-content {
    width: 1000px;
    display: flex;
   flex-direction: row;
   justify-content: center;
}

.data-content .detail-items {
    font-weight: bold ;
}

.data-content img {
width: 300px;
height: 400px;
margin-right: 50px;
margin-top: 20px;
margin-left: 20px;
}


.data-content p {
  font-size: small
    }
.data-content ul {
        font-size: small
}

.data-content a button {
    font-size: small

}


.data-content .context h2 {
    display: flex;
    justify-content: center;
   
}

#detail-web {
    border: 1px solid;
 height: 460px;   
}


.data-content .context {
    margin-top: 30px;
    margin-right: 30px;
}