#navbar {
    padding: 8px 200px;
    font-size: medium;
    margin-bottom: 20px;
}

#datas {
    display: flex;
    justify-content: center;
}




#datas .card {
    width: 260px;
    gap: 15px;
    display: flex;
    justify-content: start;
    padding-left: 0px;
    padding-right: 0px;
}

#datas .card .card-body  {

padding-left: 10px;
padding-top: 0px;
padding-bottom: 0px;

}


#datas .card .card-body-button {
display: flex;
justify-content: center;
gap: 17px;
padding-bottom: 15px;

}

#datas .card .card-body-button button{
    font-size: 14px;
}


#navbar button {
    font-size: medium;
    display: flex;  
    align-items: center;
}

#footer {
    height: 50px;
    padding: 0px 200px;
    font-size: medium;
}

#datas .card ul li {
    
    font-size: small;
    padding-left: 10px;
}

#datas .card p {
    font-size: small;
} 

#datas .card h5 {
    font-size: medium;
    padding-left: 10px;
}

#datas .card img {
   border-radius: 0px;
}